<meta charset="utf-8">
{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- styles -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<meta http-equiv="cleartype" content="on">
<!-- Prefetch Teaching page for faster load -->
<link rel="prefetch" href="{{ '/' | relative_url }}" as="document">
<link rel="prefetch" href="{{ '/research/' | relative_url }}" as="document">
<link rel="prefetch" href="{{ '/teaching/' | relative_url }}" as="document">

