<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">

        <!-- (삭제) <button><div class="navicon"></div></button> -->

        <ul class="visible-links">
          <!-- Homepage -->
          <li class="masthead__menu-item masthead__menu-home-item">
            <a href="{{ '/' | relative_url }}">Homepage</a>
          </li>

          <!-- navigation.yml 메뉴 -->
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <!-- (삭제) <ul class="hidden-links hidden"></ul> -->

      </nav>
    </div>
  </div>
</div>
